@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';

[class^="icon-star"], [class*=" icon-star"] {
    color: orange;
}

.movie-details {
    line-height: 22px;
}

.movie-details__header {
    margin-bottom: 20px;
}

.movie-details__backdrop {
    position: relative;
}

.movie-details__image {
    width: 100%;
    margin-bottom: 12px;
}

.movie-details__overview {
    margin-bottom: 12px;
    @include fromMd {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 400px;
        padding:10px;
        background-color: white;
    }
}

.movie-details__bottom {
    @include fromLg {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.movie-details__rating {
    text-align: left;
    font-size: 2em;
    margin-bottom: 12px;
}

.movie-details__about {
    @include fromLg {
        max-width: 50%;
    }
}

.movie-details__about-info {
    margin-bottom: 8px;
}

.movie-details__info-name {
    font-weight: bold;
}

