@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w5j2ye');
  src:  url('fonts/icomoon.eot?w5j2ye#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w5j2ye') format('truetype'),
    url('fonts/icomoon.woff?w5j2ye') format('woff'),
    url('fonts/icomoon.svg?w5j2ye#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text:before {
  content: "\e922";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-notification:before {
  content: "\ea08";
}
