@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';
.movie-item {
    // Needed for rating positioning
    position:relative;

    border: 2px solid $c-neutral-dark;
    border-radius: 5px;

    // 1. Make picture grow to the title if it has to
    @include fromMd {
        display: flex;
    }

    @include fromLg {
        flex-direction: column;
        justify-content: space-between;
    }

    &:hover {
        cursor: pointer;
    }

}

.movie-item__rating {
    position: absolute;
    right: -23px;
    top: -20px;
}

.movie-item__image-wrapper {
    padding: 10px;
    // 1
    @include fromLg {
        flex-grow: 1;
    }
}

.movie-item__image {
    
}

.movie-item__info {
    // Hides overflown text when it is flexbox item (md)
    overflow: hidden;
    padding: 10px;
    @include fromLg {
        padding-top: 0;
    }
}


.movie-item__title {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}