@import './variables.scss';  // minimal width of tablets - landscape

@mixin fromLg {
    @media screen and (min-width: $lg){
        @content
    }
};

@mixin fromMd {
    @media screen and (min-width: $md){
        @content
    }
};

@mixin confirmButtonTheme {
    background-color: $button-confirm-color;
    background: linear-gradient(135deg, $button-confirm-color, $button-confirm-color-dark);
    color: $c-primary-text;
    &:hover {
        background-color: $button-confirm-color-light;
        background: linear-gradient(135deg, $button-confirm-color-light, $button-confirm-color);
    }
    box-shadow: 3px 7px 9px #777, inset 0px 2px 3px #fff;
};
