@import './variables.scss';  // minimal width of tablets - landscape

@mixin fromLg {
    @media screen and (min-width: $lg){
        @content
    }
};

@mixin fromMd {
    @media screen and (min-width: $md){
        @content
    }
};

@mixin confirmButtonTheme {
    background-color: $button-confirm-color;
    color: $c-primary-text;
    &:hover {
        background-color: $button-confirm-color-hover
}
};
