// Color variables
$c-primary: #7b181b;
$c-primary-light: #872D2F;
$c-primary-dark: #701619;

$c-primary-text: #fff;

$c-neutral-light: #ECEDF2;
$c-neutral: #D7D8DC;
$c-neutral-dark: #C2C2C7;

// Breakpoint variables
$md: 600px;
$lg: 1000px;

// Buttons
$button-confirm-color: cornflowerblue;
$button-confirm-color-hover: #527ac2;