@import 'assets/base.scss';
@import 'assets/icomoon/style.scss';

.App__container {
  max-width: 980px;
  margin: auto;
}

.App__header {
  height: 80px;
  background-color: #7b181b;
  color: #fff;
}

.App__main {
  min-height: calc(100vh - 80px);
  background-color: #ECEDF2;
  /* 
    CONSIDER: adding popcorn background image
    Code in next comment isn't optimal in all situations 
  */
  /* background: url("/bg-image.jpg") no-repeat center center fixed;
  background-size: cover; */
}

.App__footer {
  height: 80px;
  color: #7b181b;
}